@model IEnumerable<Lab.Net.Logic.EmpleadoDto>
@{
    ViewBag.Title = "Empleados Page";
}

<h1>Listado de Empleados</h1>

<table>
    <thead>

        <tr>

            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Modificar</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var empleados in Model)
    {
        <tr>

            <th scope="row">@empleados.Nombre</th>
            <td>@empleados.Apellido</td>
            <td>@Html.ActionLink("Eliminar", "Eliminar", new { id = empleados.Id }, new { onclick = "return confirm('Esta seguro que desea Eliminar?')" })</td>
            <td>@Html.ActionLink("Modificar", "Modificar", new { id = empleados.Id })</td>
        </tr>
    }
    </tbody>
</table>

    <li>@Html.ActionLink("Insertar Empleado", "Insertar", "Empleados")</li>

